<% include ../partials/header %>

<div class="container col-md-5 pb-5">
    <h1>Featured Activities</h1>
    <ul class="pl-0" style="list-style-type: none;">
        <% activities.forEach(function(activity){ %>
            <% if(activity.featured) { %>
                <li class="mb-2 border pt-2 pr-2 pl-2 card-grey">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div>
                            <div class="d-flex flex-row flex-wrap justify-content-between align-items-center">
                                <div class="d-flex flex-column flex-wrap">
                                    <div class="d-flex flex-row flex-wrap align-items-baseline mb-2">
                                        <h5 class="card-title mr-2 mb-1">
                                            <% if(activity.status === "current"){ %>
                                                <span class="tooltip-status" alt="<strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months"><i class="fa fa-check-circle fa-1x text-success"></i><span class="tooltip-status-text"><strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months</span></span>
                                            <% } else if(activity.status === "review"){ %>
                                                <span class="tooltip-status" alt="<strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date."><i class="fa fa-question-circle fa-1x text-warning"></i><span class="tooltip-status-text"><strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date.</span></span>
                                            <% } else { %>
                                                <span class="tooltip-status" alt="<strong>Out of Date</strong><br>This activity has been removed because it has already happened or has not been updated for over a year."><i class="fa fa-times-circle fa-1x text-danger"></i><span class="tooltip-status-text"><strong>Out of Date</strong><br>This activity has been removed because it has already happend or has not been updated for over a year.</span></span>
                                            <% } %>
                                            <a href="/activities/<%= activity.id %>"><%= activity.name %></a>
                                        </h5>
                                            
                                    </div>
                                    
                                    <div>
                                        <span class="d-flex flex-row flex-wrap mb-1">
                                            <span><strong>Added:</strong>&nbsp;</span>
                                            <span><em><%= moment(activity.createdAt).fromNow() %></em></span>
                                        </span>
                                        <span class="d-flex flex-row flex-wrap align-items-baseline mb-2">
                                            <span><strong>Last updated:</strong>&nbsp;</span>
                                            <span><em>
                                                <%= moment(activity.updatedAt).fromNow() %></em></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <form class="inline-form" action="/admin/featuredActivities/<%= activity._id %>/remove" method="POST">
                                <button class="btn btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </li>
            <% } %>
        <% }); %>
    </ul>
    
    
    <form action="/admin/featuredActivities/add" method="POST">
        <div id="newFeaturedActivityFormGroup" class="form-group">
            <label for="newFeaturedActivityId"><strong>New Featured Activity ID</strong></label>
            <input id="newFeaturedActivityId" class="form-control" type="text" placeholder="New Featured Activity ID..." name="newFeaturedActivity">
        </div>
        
        <div class="container">
            <div class="form-group">
                <div class="row justify-content-end">
                    <button class="col-md-4 btn btn-success btn-block"><i class="fa fa-plus"></i> Add Featured Activity</button>
                </div>
            </div>
        </div>
    </form>
    
</div>

<% include ../partials/footer %>