<meta charset="utf-8">

<% if (process.env.ENV_ID === "prod"){ %>
<!-- GOOGLE ANALYTICS -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109743254-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109743254-2');
</script>
<% } %>

<!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<% if(typeof activityShowPage !== 'undefined' && activityShowPage && activity) { %>
    <title><%= activity.name %></title>
<% } else { %>
    <title><%= process.env.ENV_NAME %></title>
<% } %>

<!-- Set Favicon -->
<link href="<%= process.env.CLOUDINARY_URL_START %>c_limit,fl_lossy,h_64,w_64,q_auto/v1528111490/GeneralAssets/Favicon.png" rel="shortcut icon" type="image/x-icon">

<% /* Set Meta Variables */ %>
<% var metaTitle = "Sociable Life" %>
<% var metaDescription = "Accessible activities, for everybody. Find and share accessible activities for anyone with a disability, anywhere in the UK. We're creating an interactive map of accessible, safe and inclusive activities and we need your help to find them!" %>
<% var metaImage = process.env.CLOUDINARY_URL_START + 'c_limit,fl_lossy,h_655,w_1130,f_auto,q_auto/v1528110948/GeneralAssets/MetaImage.png' %>

<% /* Set Meta Variables if Activity Show Page */ %>
<% if(typeof activityShowPage !== 'undefined' && activityShowPage && activity) { %>
    <% metaTitle = activity.name %>
    <% metaDescription = activity.summary %>
    <% metaImage = activity.image %>
<% } %>

<meta itemprop="name" content="<%= metaTitle %>" >
<meta itemprop="description" content="<%= metaDescription %>">
<meta itemprop="image" content="<%= metaImage %>">

<meta property="og:title" content="<%= metaTitle %>">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.sociablelife.uk/">
<meta property="og:image" content="<%= metaImage %>">
<meta property="og:site_name" content="<%= metaTitle %>">
<meta property="og:description" content="<%= metaDescription %>">
<meta property="og:image:alt" content="Sociable Life">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= metaTitle %>">
<meta name="twitter:description" content="<%= metaDescription %>">
<meta name="twitter:image" content="<%= metaImage %>">
<meta name="twitter:site" content="@SociableLife">
<meta name="twitter:creator" content="@SociableLife">

<meta name="description" content="<%= metaDescription %>">

<link rel="canonical" href="https://sociablelife.uk/">
<link rel="canonical" href="https://www.sociablelife.uk/">