<meta charset="utf-8">

<% if (process.env.ENV_ID === "prod"){ %>
<!-- GOOGLE ANALYTICS -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109743254-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-109743254-2');
</script>
<% } %>

<!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= process.env.ENV_NAME %></title>

<!-- Set Favicon -->
<link href="https://res.cloudinary.com/amovos/image/upload/c_limit,fl_lossy,h_64,w_64,q_auto/v1528111490/GeneralAssets/Favicon.png" rel="shortcut icon" type="image/x-icon">

<% /* Set Variables */ %>
<% var metaTitle = "Sociable Life" %>
<% var metaDescription = "Accessible activities, for everybody. Find and share accessible activities for anyone with a disability, anywhere in the UK. We're creating an interactive map of accessible, safe and inclusive activities and we need your help to find them!" %>
<% var metaImage = 'https:\//res.cloudinary.com/amovos/image/upload/c_limit,fl_lossy,h_655,w_1130,f_auto,q_auto/v1528110948/GeneralAssets/MetaImage.png' %>

<meta itemprop="name" content="<%= metaTitle %>" >
<meta itemprop="description" content="<%= metaDescription %>">
<meta itemprop="image" content="<%= metaImage %>">

<meta property="og:title" content="<%= metaTitle %>">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.sociablelife.uk/">
<meta property="og:image" content="<%= metaImage %>">
<meta property="og:site_name" content="<%= metaTitle %>">
<meta property="og:description" content="<%= metaDescription %>">
<meta property="og:image:alt" content="Sociable Life Activity Map">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="<%= metaTitle %>">
<meta name="twitter:description" content="<%= metaDescription %>">
<meta name="twitter:image" content="<%= metaImage %>">
<meta name="twitter:site" content="@SociableLife">
<meta name="twitter:creator" content="@SociableLife">

<meta name="description" content="<%= metaDescription %>">

<link rel="canonical" href="https://sociablelife.uk/">
<link rel="canonical" href="https://www.sociablelife.uk/">

<!-- Apple Icons -->
<!--<link href="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_60,w_60,f_auto,q_auto/v1/1256356/Map100Image_zghk5l.png" rel="apple-touch-icon" sizes="60x60">-->
<!--<link href="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_76,w_76,f_auto,q_auto/v1/1256356/Map100Image_zghk5l.png" rel="apple-touch-icon" sizes="76x76">-->
<!--<link href="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_120,w_120,f_auto,q_auto/v1/1256356/Map100Image_zghk5l.png" rel="apple-touch-icon" sizes="120x120">-->
<!--<link href="https://res.cloudinary.com/hrscywv4p/image/upload/c_limit,fl_lossy,h_152,w_152,f_auto,q_auto/v1/1256356/Map100Image_zghk5l.png" rel="apple-touch-icon" sizes="152x152">-->