<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= process.env.ENV_NAME %></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/9cad8476e2.css">
	
	<!-- SCRIPTS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>

	<nav class="navbar fixed-top navbar-expand-md navbar-dark mb-4" id="navbar-background-color">
		<div class="container">
		<a class="navbar-brand" href="/"><%= process.env.ENV_NAME %></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse text-center" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>">
						<a href="/" class="nav-link">Home</a>
					</li>
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'activities' ? 'active' : '' %>">
						<a href="/activities" class="nav-link">Activity Map</a>
					</li>
					<!--<li class="nav-item <%= typeof page !== 'undefined' && page === 'addActivity' ? 'active' : '' %>">-->
					<!--	<a href="/activities/new" class="nav-link">Add Activity</a>-->
					<!--</li>-->
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'aboutUs' ? 'active' : '' %>">
						<a href="/aboutUs" class="nav-link">Our Story</a>
					</li>
					<li class="nav-item <%= typeof page !== 'undefined' && page === 'contact' ? 'active' : '' %>">
						<a href="/contact" class="nav-link">Contact</a>
					</li>
				</ul>
				<ul class="navbar-nav">
					<% if(!currentUser){ %>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
							<a href="/login" class="nav-link">Login</a>
						</li>
						<li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
							<a href="/inviteCode" class="nav-link">Sign Up</a>
						</li>
					<% } else { %>
						<li class="nav-item">
							<a href="/users/<%= currentUser.id %>" class="nav-link">Signed In As <%= currentUser.displayName %></a>
						</li>
                    	<li class="nav-item">
                    		<a href="/logout" class="nav-link">Logout</a>
                    	</li>
					<% } %>
				</ul>
			</div>
		</div>
	</nav>
    
    <!-- ALERT DIALOG BOXES-->
    <div class="container">
        <% if(errorMessage && errorMessage.length > 0){ /*to make sure it only displays when the error has content */%>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                	<span aria-hidden="true">&times;</span>
                </button>    
                <%= errorMessage %>
            </div>
        <% } %>
        <% if(successMessage && successMessage.length > 0){ /*to make sure it only displays when the error has content */%>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button> 
                <%= successMessage %>
            </div>
        <% } %>
    </div>