<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron text-center">
               <h1>Edit activity: <%= activity.name %></h1> 
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
            <form action="/activities/<%= activity._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Activity Name</label>
                    <input class="form-control" type="text" name="activity[name]" id="name" placeholder="e.g. Woodlarks Campsite" value="<%= activity.name %>" required>
                </div>
                <div class="form-group">
                    <label for="price">Price per Night (£)</label>
                    <input class="form-control" type="number" name="activity[price]" id="price" placeholder="e.g. 15" value="<%= activity.price %>" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="activity[location]" id="location" placeholder="e.g. Woodlarks Campsite, Farnham, Surrey" value="<%= activity.location %>" required>
                </div>
                <div class="form-group">
                    <label for="imageUpload">Image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imageUpload" name="image" accept="image/*">
                        <label class="custom-file-label" for="imageUpload">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="image">Description</label>
                    <textarea class="form-control" rows="6" name="activity[description]" id="description" placeholder="e.g. A fully accessible campsite with an outdoor heated pool and a zipline!" required><%= activity.description %></textarea>
                </div>  
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <button class="col-sm-6 btn btn-lg btn-primary btn-block">Update!</button>
                        </div>
                    </div> 
                </div> 
                
            </form>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>