<% include ../partials/header %>

<div class="container">

    <% if(currentUser && currentUser.isAdmin){ %>
        <h1>You're an admin!</h1>
    <% } %>

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Sociable Life</h1>
            <p>View our hand-picked activities from all over the UK!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/activities/new">Add new activity</a>
            </p>
            <form class="form-inline" action="/activities" method="GET">
                <div class="form-group">
                    <input class="form-control mr-1" type="text" name="search" placeholder="Activity search...">
                    <button class="btn btn-secondary">Search</button>
                </div>
            </form>
        </div>
    </header>
</div>
    
    <!-- MAP SECTION START -->
    <div class="mb-4" id="activity-index-map"></div>
    
    <!-- MAP SECTION END -->
    
<div class="container">
    <% if (noMatch === true) { %>
        <div class="row text-center">
            <div class="col-md-12">
                <h3>Sorry, we couldn't find any activities that match that search, please try something else :)</h3>
                <p>
                    <form class="form-inline justify-content-center" action="/activities" method="GET">
                        <div class="form-group">
                            <input class="form-control mr-1" type="text" name="search" placeholder="Activity search...">
                            <button class="btn btn-secondary">Search</button>
                        </div>
                    </form>
                </p>
            </div>
        </div>
    <% } else { %>
        <!-- GENERATE ACTIVITY GRID -->
        <div class="row text-center" id="activity-grid">
            <% var activityCounter = 0%>
            <% activities.forEach(function(activity, i){ %>
                <% activityCounter += 1%>
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card" id="activity<%= i %>">
                      <img class="card-img-top" src="<%= activity.image %>" alt="<%= activity.name %>">
                      <div class="card-body">
                        <h5 class="card-title"><%= activity.name %></h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/activities/<%= activity._id %>" class="btn btn-primary" class="btn btn-primary">More Info</a>
                      </div>
                    </div>
                </div>
            <% }); %>
        </div>
        
        <!-- LOAD MORE ACTIVITIES -->
        <% if (current < pages) { %>
            <div class="row text-center">
                <div class="col-md-12 mb-4">
                    <a class="btn btn-success" href="/activities?page=<%= Number(current) + 1 %><%if(search){%>?search=<%=search%><%}%>#activity<%= activityCounter %>">Load More...</a>
                </div>
            </div>
        <% } %>
        
    <% } %>
</div>

<script async src="/js/mapIndex.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPPING_API_KEY %>&callback=initActivityIndexMap"></script>

<% include ../partials/footer %>