<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron d-flex flex-column align-items-center">
                <h1>Create a New Activity</h1>
   			    <a href="/users/<%= currentUser.id %>" class="nav-link nopadding d-flex flex-row align-items-center">
					<img class="mr-1" height="40" width="40" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,h_100,w_100,f_auto,q_auto,r_max<%= currentUser.avatar.slice(46) %>" alt="current user avatar">
					<%= currentUser.displayName %>
				</a>
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
            <form action="/activities" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Activity Name</label>
                    <input class="form-control" type="text" name="activity[name]" id="name" placeholder="e.g. Woodlarks Campsite" value="<%= activityNameQuery %>" required>
                </div>
                
                <div class="form-group">
                    <label for="price">??</label>
                    <input class="form-control" type="number" name="activity[price]" id="price" placeholder="e.g. 15" min="1" step="1">
                </div>
                
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="activity[location]" id="location" placeholder="e.g. Woodlarks Campsite, Farnham, Surrey" required>
                </div>
                <div class="form-group">
                    <label for="imageUpload">Image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imageUpload" name="image" accept="image/*">
                        <label class="custom-file-label" for="imageUpload">Choose file</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" rows="6" name="activity[description]" id="description" placeholder="e.g. A fully accessible campsite with an outdoor heated pool and a zipline!" required></textarea>
                </div>   
                
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <button class="col-sm-6 btn btn-lg btn-primary btn-block">Submit!</button>
                        </div>
                    </div> 
                </div>
                
            </form>
            <a href="javascript:history.back()">Go Back</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>