<% include ../partials/header %>

<div class="container pb-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <header class="jumbotron d-flex flex-column align-items-center text-center">
                <h1>Review activity info</h1>
                <span><i class="fas fa-map-marker-alt fa-4x m-auto text-primary"></i></span>
                <br>
                <% if(currentUser) { %>
       			    <a href="/users/<%= currentUser.id %>" class="nav-link nopadding d-flex flex-row align-items-center">
    					<img class="mr-1" height="40" width="40" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,h_100,w_100,f_auto,q_auto,r_max<%= currentUser.avatar.slice(46) %>" alt="current user avatar">
    					<%= currentUser.displayName %>
    				</a>
				<% } else { %>
				    <div class="d-flex flex-row align-items-baseline">
				        <i class="fas fa-2x fa-user mr-2 text-info"></i> <h5>Guest User</h5>
				    </div>
				<% } %>
            </header>
        </div>
        
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
    
            <!-- The acutal form is hidden from the user and the content for review is just displayed as text -->
            <form id="createActivityForm" action="/activities" method="POST" enctype="multipart/form-data">
                <!-- HIDDEN INPUTS -->
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[name]" id="name" value="<%= activityName %>" required hidden>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="3" name="activity[summary]" id="summary" required hidden><%= activitySummary %></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[location]" id="location" value="<%= activityLocation %>" required hidden>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="6" name="activity[description]" id="description" required hidden><%= activityDescription %></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" type="checkbox" name="activity[isAdult]" id="isAdult" <% if(activityIsAdult) { %>checked<% } %> hidden/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="checkbox" name="activity[isChild]" id="isChild" <% if(activityIsChild) { %>checked<% } %> hidden/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="checkbox" name="activity[isPhysical]" id="isPhysical" <% if(activityIsPhysical) { %>checked<% } %> hidden/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="checkbox" name="activity[isLearning]" id="isLearning" <% if(activityIsLearning) { %>checked<% } %> hidden/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[when]" id="when" value="<%= activityWhen %>" required hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[endDate]" id="endDate" value="<%= activityEndDate %>" hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[price]" id="price" value="<%= activityPrice %>" required hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[frequency]" id="frequency" value="<%= activityFrequency %>" required hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[website]" id="website" value="<%= activityWebsite %>" hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[facebook]" id="facebook" value="<%= activityFacebook %>" hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[twitter]" id="twitter" value="<%= activityTwitter %>" hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[videoUrl]" id="videoUrl" value="<%= activityVideoUrl %>" hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[contactEmail]" id="contactEmail" value="<%= activityContactEmail %>" hidden>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="activity[contactNum]" id="contactNum" value="<%= activityContactNum %>" hidden>
                </div>
                
                <% if(currentUser) { %>
                    <div class="form-group">
                        <input class="form-control" type="checkbox" name="activity[isOwner]" id="isOwner" <% if(activityIsOwner) { %>checked<% } %> hidden>
                    </div>
                <% } %>

                <!-- DISPLAY VALUES -->
                <div class="card card-body mb-3">
                    <h5>Activity Name</h5>
                    <p class="first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><%= activityName %></p>
                    
                    <h5>Summary</h5>
                    <p class="first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><%= activitySummary %></p>
                    
                    <h5><i class="far fa-edit text-success"></i> Description</h5>
                    <p class="description-text first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><%= activityDescription %></p>
                    
                    <h5>Location</h5>
                    <p class="first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fas fa-map-marker-alt fa-lg text-primary mr-3"></i><%= activityLocation %></p>
                    
                    <h5>Ages suitable for this activity</h5>
                    <p class="first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 card-grey">
                        <% if(activityIsAdult && activityIsChild) { %>
                            All Ages
                        <% } else if(activityIsAdult) { %>
                            Adults
                        <% } else if(activityIsChild) { %>
                            Children
                        <% } %>
                    </p>
                    
                    <h5>Abilities suitable for this activity</h5>
                    <p class="first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 card-grey">
                        <% if(activityIsPhysical && activityIsLearning) { %>
                            All Abilities
                        <% } else if(activityIsPhysical) { %>
                            Physical Disabilities
                        <% } else if(activityIsLearning) { %>
                            Learning Disabilities
                        <% } %>
                    </p>
                    
                    <h5>How much this activity costs</h5>
                    <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey">
                        <i class="fas fa-money-bill-wave fa-lg text-success mr-3"></i><%= activityPrice %>
                    </p>
                    
                    <h5>Type of activity</h5>
                    <p class="first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><%= activityFrequency %></p>
                    
                    <h5>When this activity happens</h5>
                    <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fas fa-calendar-alt fa-lg text-primary mr-3"></i><%= activityWhen %></p>
                    
                    <% if(activityEndDate) { %>
                        <h5>Activity End Date</h5>
                        <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fas fa-calendar-alt fa-lg text-danger mr-3"></i><%= activityEndDate %></p>
                    <% } %>
                    
                    <% if(activityWebsite) { %>
                        <h5>Activity Website</h5>
                        <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fas fa-desktop fa-lg text-primary mr-3"></i><%= activityWebsite %></p>
                    <% } %>
                    
                    <% if(activityFacebook) { %>
                        <h5>Activity Facebook</h5>
                        <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fab fa-facebook-square fa-lg text-primary mr-3"></i><%= activityFacebook %></p>
                    <% } %>
                    
                    <% if(activityTwitter) { %>
                        <h5>Activity Twitter</h5>
                        <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fab fa-twitter fa-lg text-primary mr-3"></i><%= activityTwitter %></p>
                    <% } %>
                    
                    <% if(activityVideoUrl) { %>
                        <h5>Activity Youtube Video</h5>
                        <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fab fa-youtube fa-lg text-danger mr-3"></i><%= activityVideoUrl %></p>
                    <% } %>
                    
                    <% if(activityContactEmail) { %>
                        <h5>Activity Contact Email</h5>
                        <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="far fa-envelope fa-lg text-primary mr-3"></i><%= activityContactEmail %></p>
                    <% } %>
                    
                    <% if(activityContactNum) { %>
                        <h5>Activity Contact Number</h5>
                        <p class="border rounded pt-2 pr-2 pb-2 pl-2 card-grey"><i class="fas fa-phone fa-lg text-primary mr-3"></i><%= activityContactNum %></p>
                    <% } %>
                    
                    <% if(currentUser && activityIsOwner) { %>
                        <h5>Owner</h5>
                        <p class="first-letter-capitalize border rounded pt-2 pr-2 pb-2 pl-2 bg-warning">You help to run or organise this activity</p>
                    <% } %>
                    
                    <div class="container">
                        <div class="form-group">
                            <div class="row justify-content-end">
                                <a id="EditInfoBtn" class="col-sm-6 btn btn-lg btn-success btn-block text-white">Edit Info</a>
                            </div>
                        </div> 
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="imageUpload"><h5>Add an Image</h5></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="imageUpload" name="image" accept="image/*">
                        <label class="custom-file-label" for="imageUpload">Choose file (10MB limit)</label>
                    </div>
                    <h6 class="mt-2">Ativities look much more interesting when they have a picture, if you don't have one of your own you can get free pictures from <a href="https://unsplash.com" target="_blank">Unsplash</a>. (It's like google images for free pictures!)</h6>
                </div>
                
                <% if(!currentUser) { %>
                    <!-- reCaptcha check box  (ONLY IF USER IS NOT LOGGED IN) -->
                    <div class="container">
                        <div class="form-group">
                            <div class="row justify-content-end">
                                <div class="row justify-content-end col-md-8 g-recaptcha" data-sitekey="<%= process.env.CAPTCHA_SITE %>"></div>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                <% if(fileValidationError) { %>
                    <!-- Error message box -->
                    <div id="errorMessageContainer" class="container">
                        <div class="row justify-content-end">
                            <div id="errorMessageDiv" class="alert alert-warning fade show col-md-8" role="alert">
                                <i class='fas fa-exclamation-triangle'></i> <%= fileValidationError %>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                <!-- Submit form button-->
                <div class="container">
                    <div class="form-group">
                        <div class="row justify-content-end">
                            <button id="submitActivityBtn" class="col-sm-6 btn btn-lg btn-primary btn-block">Submit Activity!</button>
                        </div>
                    </div> 
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    var editInfo = false
    
    //on "Edit Info" button click
    //make an ajax post request to /activities/new and post the form data
    $('#EditInfoBtn').on('click', function(){
        $('#createActivityForm').attr("action", "/activities/new");
        $('#createActivityForm').removeAttr("enctype"); //need to remove this so the form content can be accessed through req.body.activity
        editInfo = true;
        $('#createActivityForm').submit();
    })
    
    $("#createActivityForm").submit(function(event) {
        if(!editInfo) {
            //disable submit button so a user can't keep clicking on it
            $('#submitActivityBtn').attr("disabled", "disabled");
            
            //change text of button to say "uploading image..." if an image has been selected
            if($('#imageUpload').val()) {
                $('#submitActivityBtn').html("Uploading image...");
            } else {
                $('#submitActivityBtn').html("Creating activity...");
            }
        }
    });
    
</script>

<% include ../partials/footer %>