<% include ../partials/header %>

<div class="container">
    <div class="d-flex justify-content-center">
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-10 nopadding">
            <!-- INFO SECTION START -->
            <div class="card mb-3">
                <img class="card-img-top activity-show-image" src="<%= activity.image %>" alt="<%= activity.name %>">
                <div class="card-body">
                    <div class="d-flex flex-row flex-wrap justify-content-between">
                        <div class="d-flex flex-column align-items-start">
                            <h3 class="card-title mr-3">
                                <% if(activity.status === "current"){ %>
                                    <span class="tooltip-status" alt="<strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months"><i class="fa fa-check-circle fa-1x text-success"></i><span class="tooltip-status-text"><strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months</span></span>
                                <% } else if(activity.status === "review"){ %>
                                    <span class="tooltip-status" alt="<strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date."><i class="fa fa-question-circle fa-1x text-warning"></i><span class="tooltip-status-text"><strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date.</span></span>
                                <% } else { %>
                                    <span class="tooltip-status" alt="<strong>Out of Date</strong><br>This activity has been removed because it has already happened or has not been updated for over a year."><i class="fa fa-times-circle fa-1x text-danger"></i><span class="tooltip-status-text"><strong>Out of Date</strong><br>This activity has been removed because it has already happend or has not been updated for over a year.</span></span>
                                <% } %>
                                <%= activity.name %></h3>
                            <span>
                                <em><strong>Added by:</strong> <a href="/users/<%= activity.author._id %>"><%= activity.author.displayName %></a>, <%= moment(activity.createdAt).fromNow() %></em>
                            </span>
                            <span class="mb-2">
                                <em><strong>Last checked by:</strong> <a href="/users/<%= activity.author._id %>"><%= activity.author.displayName %></a>, <%= moment(activity.createdAt).fromNow() %></em>
                            </span>
                            <% if(currentUser && activity.author._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <div class="d-flex flex-row mb-2">
                                    <a class="btn btn-sm btn-warning mr-2" href="/activities/<%= activity._id %>/edit">Edit</a>
                                    <form class="inline-form" action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger" disabled>Delete</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                        <div id="showPageLoveAndComment" class="d-flex flex-row justify-content-center flex-md-grow-0 flex-grow-1 mb-2">
                            <div class="d-flex flex-column align-items-center mr-4">
                                <span>Sociable Love</span>
                                    <span id="sociableLove" class="fa-stack fa-1x sociable-love">
                                        <i class="fa fa-heart fa-stack-2x heart-offset"></i>
                                        <span id="sociableLoveNum" class="fa-stack-1x text-white"><%= (activity.loves.length) %></span>
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <span>Comments</span>
                                    <span id="sociableComment" class="fa-stack fa-1x sociable-comment" onclick="scrollToComments()">
                                        <i class="fa fa-comment fa-stack-2x comment-offset"></i>
                                        <span id="sociableCommentNum" class="fa-stack-1x text-white"><%= (activity.comments.length) %></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!--START OF ACTIVITY INFO CONTENT-->
                    <div class="d-flex flex-row flex-wrap">
                        <div class="d-flex flex-column col-md-8 nopadding">
                            <h4>Description</h4>
                            <p class="mr-2"><%= activity.description %></p>
                            <div class="d-flex flex-row">
                                <div class="col-md-6 nopadding">
                                    <h4>Ages</h4>
                                    <p class="mr-3"><%= activity.age %></p>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <h4>Suitable for</h4>
                                    <p class="mr-2"><%= activity.suitable %></p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="col-md-6 nopadding">
                                    <h4>When</h4>
                                    <p class="mr-3"><%= activity.when %></p>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <h4>Cost</h4>
                                    <p class="mr-2"><%= activity.price %></p>
                                </div>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="col-md-6 nopadding">
                                    <h4>Type</h4>
                                    <p class="mr-3"><%= activity.frequency %></p>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <h4>Where</h4>
                                    <p class="mr-2"><%= activity.location %></p>
                                </div>
                            </div>
                            <h4>Tags</h4>
                            <p class="mr-2"><%= activity.tags %></p>
                            <div class="d-flex flex-row flex-wrap">
                                <div class="col-md-5 nopadding">
                                    <a class="btn btn-primary btn-block mb-2" href="<%= activity.website %>">Activity website</a>
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5 nopadding">
                                    <a class="btn btn-warning btn-block mb-2" href="/contact">Something not right?</a>
                                </div>
                            </div>
                        </div>
                        <div id="activity-show-map" class="col-md-4"></div>
                    </div>
                    <!--END OF ACTIVITY INFO CONTENT-->
                </div>
            </div>
            <!-- INFO SECTION END -->

            <!-- COMMENT SECTION START -->
            <div id="commentSection" class="card mb-5">
                <div class="card-body">
                    <div class="float-left">
                        <h3>Comments</h3>
                    </div>
                    
                    <div class="text-right">
                        <a class="btn btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment"><i class="fa fa-plus"></i> Add comment</a>
                    </div>
                    <hr>
                    
                    <!--Collapse Add a comment form START-->
                    <div class="collapse" id="collapseComment">
                        <div class="card mb-2">
                            <% if(!currentUser) { %>
                                <!--If the user is not logged in, direct them to the login page-->
                                <div class="card-body">
                                    <p class="card-text"><strong>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</strong></p>
                                </div>
                            <% } %>
                            <% if(currentUser) { %>
                                <!--If the user is logged in, show the new comment form-->
                                <div class="card-body">
                                    <h5 class="card-text">Write your comment</h5>
                                    <form id="add-comment-form" action="/activities/<%= activity._id %>/comments" method="POST">
                                        <div class="form-group">
                                            <input class="form-control" type="text" disabled value="<%= currentUser.displayName %>">
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-sm float-right">Post Comment</button>
                                        </div>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <!--Collapse Add a comment form END-->
                    
                    <!--Display all comments START-->
                    <div class="row">
                        <% activity.comments.forEach(function(comment){ %>
                            <div class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="float-right"><em><%= moment(comment.createdAt).fromNow() %></em></p>
                                        <p class="card-title"><strong><a href="/users/<%= comment.author._id %>"><%= comment.author.displayName %></a></strong></p>
                                        <p class="card-text"><%= comment.text %></p>
                                        <% if(currentUser && comment.author._id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                            <div class="float-right mt-2">
                                                <a  class="btn btn-sm btn-warning" 
                                                    href="/activities/<%= activity._id %>/comments/<%= comment._id %>/edit">
                                                    Edit
                                                </a>
                                                <form class="inline-form" action="/activities/<%= activity._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                    <button class="btn btn-sm btn-danger">Delete</button>
                                                </form>
                                            </div>
                                            <hr>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <!-- COMMENT SECTION END -->
            
        </div>
    </div>
</div>


<!-- Move this script to it's own JS file in /public/ -->
<script>
  function initActivityShowMap() {
    var lat = <%= activity.lat %>;
    var lng = <%= activity.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('activity-show-map'), {
        zoom: 10,
        center: center,
        scrollwheel: false,
        mapTypeControl: false,
        streetViewControl: false,
        scaleControl: false,
        fullscreenControl: false
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPPING_API_KEY %>&callback=initActivityShowMap"></script>

<!-- Temporary script to increment counter on heart-->
<script>
    $('#sociableLove').on('click', function(){
        console.log();
        $('#sociableLoveNum').text((parseInt($('#sociableLoveNum').text()) + 1));
    });
</script>

<!-- Temporary script to scroll to comments section when comment bubble is clicked -->
<script>
function scrollToComments() {
    event.preventDefault(); //Prevent default anchor click behavior

    var hash = "#commentSection";
    
    $('html, body').animate({
        scrollTop: $(hash).offset().top
    }, 800, function(){
        window.location.hash = hash;
    });
    
}
</script>

<% include ../partials/footer %>