<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Sociable Life</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
            <div id="map"></div>
        </div>
        
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= activity.image %>">
                <div class="caption">
                    <h4 class="pull-right">£<%= activity.price %>/night</h4>
                    <h4><a><%= activity.name %></a></h4>
                    <p><%= activity.description %></p>
                    <p>
                        <em>Submitted by: <a href="/users/<%= activity.author.id %>"><%= activity.author.username %></a>, <%= moment(activity.createdAt).fromNow() %></em>
                    </p>
                    <% if(currentUser && activity.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-sm btn-warning" href="/activities/<%= activity._id %>/edit">Edit</a>
                        <form class="inline-form" action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/activities/<%= activity._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% activity.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p>
                                <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                                <div class="pull-right">
                                    <a class="btn btn-xs btn-warning" 
                                        href="/activities/<%= activity._id %>/comments/<%= comment._id %>/edit">
                                        Edit
                                    </a>
                                    <form class="inline-form" action="/activities/<%= activity._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-xs btn-danger">Delete</button>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<!-- Move this script to it's own JS file in /public/ -->
<script>
  function initMap() {
    var lat = <%= activity.lat %>;
    var lng = <%= activity.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= activity.name %><br />
      <%= activity.location %></strong>
      <p><%= activity.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPoS1gqhMlEujhhtj3i5QJl9GJ28dEHHM&callback=initMap"></script>

<% include ../partials/footer %>