<% include ../partials/header %>

<div class="container">
    <div class="d-flex justify-content-center">
        <!--<div class="col-lg-1"></div>-->
        <div class="col-lg-10 nopadding">
            <!-- INFO SECTION START -->
            <div class="card mb-3">
                <img class="card-img-top activity-show-image" src="<%= activity.image %>" alt="<%= activity.name %>">
                <div class="card-body">
                    <div class="d-flex flex-row flex-wrap justify-content-between">
                        <div class="d-flex flex-column align-items-start flex-grow-1">
                            <h3 class="card-title mr-3">
                                <% if(activity.status === "current"){ %>
                                    <span class="tooltip-status" alt="<strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months"><i class="fa fa-check-circle fa-1x text-success"></i><span class="tooltip-status-text"><strong>Current Info</strong><br>This activity has been checked or updated in the last 6 months</span></span>
                                <% } else if(activity.status === "review"){ %>
                                    <span class="tooltip-status" alt="<strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date."><i class="fa fa-question-circle fa-1x text-warning"></i><span class="tooltip-status-text"><strong>Under Review</strong><br>This activity has not been checked or updated in the last 6 months. The information might be out of date.</span></span>
                                <% } else { %>
                                    <span class="tooltip-status" alt="<strong>Out of Date</strong><br>This activity has been removed because it has already happened or has not been updated for over a year."><i class="fa fa-times-circle fa-1x text-danger"></i><span class="tooltip-status-text"><strong>Out of Date</strong><br>This activity has been removed because it has already happend or has not been updated for over a year.</span></span>
                                <% } %>
                                <%= activity.name %></h3>
                            <span class="d-flex flex-row flex-wrap mb-1">
                                <span><strong>Added by:</strong>&nbsp;</span>
                                <span><em><a href="/users/<%= activity.author._id %>"><%= activity.author.displayName %></a> <%= moment(activity.createdAt).fromNow() %></em></span>
                            </span>
                            <span class="d-flex flex-row flex-wrap align-items-baseline mb-2">
                                <span><strong>Last updated by:</strong>&nbsp;</span>
                                <span><em><a href="/users/<%= activity.author._id %>"><%= activity.author.displayName %></a> <%= moment(activity.updatedAt).fromNow() %></em></span>
                                <% if(currentUser && (activity.author._id.equals(currentUser._id) || isOwner || currentUser.isMod || currentUser.isAdmin)){ %>
                                    <span><button class="btn btn-info btn-sm ml-0 ml-md-2 mt-2 mt-md-0" role="button" data-toggle="collapse" href="#collapseUpdateHistory" aria-expanded="false" aria-controls="collapseUpdateHistory">See update history</button></span>
                                <% } %>
                            </span>
                            
                            <% if(currentUser && (activity.author._id.equals(currentUser._id) || isOwner || currentUser.isMod || currentUser.isAdmin)){ %>
                                <div class="collapse mb-3" id="collapseUpdateHistory">
                                    <% if(activity.updateHistory.length > 0) { %>
                                        <% for(var i=0; i<activity.updateHistory.length; i++) { %>
                                            <% if(i<5) { %>
                                                <div class="d-flex flex-row flex-wrap card card-grey pt-2 pr-2 pb-2 pl-2 text-center mb-1">
                                                    <div class="mr-2">
                                                        <strong><%= activity.updateHistory[i].updateType %></strong>
                                                    </div>
                                                    <div class="mr-2">
                                                        <% if(activity.updateHistory[i].oldStatus === activity.updateHistory[i].newStatus) { %>
                                                            <% if(activity.updateHistory[i].updateType === "Picture Changed") { %>
                                                                <span>
                                                                    <i class="far fa-image text-success fa-lg"></i>
                                                                </span>
                                                            <% } else if(activity.updateHistory[i].updateType === "Info Changed") { %>
                                                                <span>
                                                                    <i class="far fa-edit text-success fa-lg"></i>
                                                                </span>
                                                            <% } else if(activity.updateHistory[i].updateType === "Owner/Author Changed") { %>
                                                                <span>
                                                                    <i class="fas fa-users text-primary fa-lg"></i>
                                                                </span>
                                                            <% } else if(activity.updateHistory[i].updateType === "Activity Created") { %>
                                                                <span>
                                                                    <i class="fas fa-star fa-lg text-warning"></i>
                                                                </span>
                                                            <% } %>
                                                            <span class="ml-1"><em><%= moment(activity.updateHistory[i].updatedAt).fromNow() %></em></span>
                                                        <% } else { %>
                                                            <span>
                                                                <% if(activity.updateHistory[i].oldStatus === "current") { %>
                                                                    <i class="fa fa-check-circle fa-lg text-success"></i>
                                                                <% } else if(activity.updateHistory[i].oldStatus === "review") { %>
                                                                    <i class="fa fa-question-circle fa-lg text-warning"></i>
                                                                <% } else { %>
                                                                    <i class="fa fa-times-circle fa-lg text-danger"></i>
                                                                <% } %>
                                                            </span>
                                                            <span><i class="fas fa-arrow-right"></i></span>
                                                            <span class="mr-1">
                                                                <% if(activity.updateHistory[i].newStatus === "current") { %>
                                                                    <i class="fa fa-check-circle fa-lg text-success"></i>
                                                                <% } else if(activity.updateHistory[i].newStatus === "review") { %>
                                                                    <i class="fa fa-question-circle fa-lg text-warning"></i>
                                                                <% } else { %>
                                                                    <i class="fa fa-times-circle fa-lg text-danger"></i>
                                                                <% } %>
                                                            </span>
                                                            <span><em><%= moment(activity.updateHistory[i].updatedAt).fromNow() %></em></span>
                                                        <% } %>
                                                    </div>
                                                    <div>
                                                        by <a href="/users/<%= activity.updateHistory[i].author._id %>"><span class="text-capitalize"><%= activity.updateHistory[0].author.displayName %></span></a>
                                                    </div>
                                                </div>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                    <% if(activity.updateHistory.length > 5) { %>
                                        <a href="" class="btn btn-info btn-sm disabled">See full update history... (coming soon)</a>
                                    <% } %>
                                </div>
                            <% } %>
                            
                            <% if(currentUser && (activity.author._id.equals(currentUser._id) || isOwner || currentUser.isMod || currentUser.isAdmin)){ %>
                                <div class="d-flex flex-row flex-wrap flex-grow-1 justify-content-between mb-2">
                                    <div class="d-flex flex-row flex-wrap align-items-baseline mt-2">
                                        <div>
                                            <h4 class="mb mr-2">Edit Activity</h4>
                                        </div>
                                        <div>
                                            <a class="btn btn-primary mr-2 mb-2" href="/activities/<%= activity._id %>/editImage">Change Picture</a>
                                            <a class="btn btn-warning mr-2 mb-2" href="/activities/<%= activity._id %>/edit">Edit Info</a>
                                            <form class="inline-form" action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
                                                <button class="btn btn-danger mb-2" disabled>Remove</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                        <div id="showPageLoveAndComment" class="d-flex flex-row justify-content-center flex-md-grow-0 flex-grow-1 mb-2">
                            <div class="d-flex flex-column align-items-center mr-4">
                                <span><strong>Loves</strong></span>
                                    <span id="sociableLove" class="fa-stack fa-1x sociable-love">
                                        <i class="fas fa-heart fa-stack-2x heart-offset"></i>
                                        <span id="sociableLoveNum" class="fa-stack-1x <%= loveColorClass %>"><%= (activity.loves.length) %></span>
                                    </span>
                                </span>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <span><strong>Comments</strong></span>
                                    <span id="sociableComment" class="fa-stack fa-1x sociable-comment" onclick="scrollToComments()">
                                        <i class="fas fa-comment fa-stack-2x comment-offset"></i>
                                        <span id="sociableCommentNum" class="fa-stack-1x text-white"><%= (activity.comments.length) %></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                    <% if(currentUser && (currentUser.isMod || currentUser.isAdmin)) { %>
                        <!-- Mod and Admin Tools -->
                        <div class="d-flex flex-column align-items-baseline card card-body card-grey mb-2">
                            <!-- Mod and Admin set activity status buttons -->
                            <% if(currentUser && currentUser.isAdmin){ %>
                                <div class="d-flex flex-row flex-wrap flex-grow-1 mb-2 align-items-start">
                                    <span class="mr-3"><h4>Admin Tools:</h4></span>
                                    <!-- Admin only change author -->
                                    <a class="btn btn-primary btn-sm mr-2 mb-2" href="/activities/<%= activity._id %>/updateOwnerAndAuthor">Change Owner and Author</a>
                                    <!-- Admin only permanent destroy activity -->
                                    <form class="inline-form" action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-dark btn-sm mr-2 mb-2" disabled>Destroy Activity</button>
                                    </form>
                                </div>
                            <% } %>
                            <div class="d-flex flex-row flex-wrap flex-grow-1 align-items-start mb-2">
                                <div class="d-flex flex-row flex-wrap align-items-center">
                                    <span class="mr-3"><h4>Set Status:</h4></span>
                                    <div class="mr-0 mr-md-4">
                                        <span class="mr-2"><button id="statusUpdateCurrentBtn" class="btn btn-link"><i class="fa fa-check-circle fa-2x <% if(activity.status === 'current') { %>text-success<% } else { %>text-secondary<% } %>"></i></button></span>
                                        <span class="mr-2"><button id="statusUpdateReviewBtn" class="btn btn-link"><i class="fa fa-question-circle fa-2x <% if(activity.status === 'review') { %>text-warning<% } else { %>text-secondary<% } %>"></i></button></span>
                                        <span class=""><button id="statusUpdateRemovedBtn" class="btn btn-link"><i class="fa fa-times-circle fa-2x <% if(activity.status === 'removed') { %>text-danger<% } else { %>text-secondary<% } %>"></i></button></span>
                                    </div>
                                </div>
                                <% if(activity.updateHistory.length > 0) { %>
                                    <div class="d-flex flex-row flex-wrap flex-grow-1 align-items-center mt-1">
                                        <span class="d-flex flex-row align-self-start mr-3"><h4>Latest change: </h4></span>
                                        <div class="card pt-2 pr-2 pb-2 pl-2 text-center">
                                            <div>
                                                <strong><%= activity.updateHistory[0].updateType %></strong>
                                            </div>
                                            <div>
                                                <% if(activity.updateHistory[0].oldStatus === activity.updateHistory[0].newStatus) { %>
                                                    <% if(activity.updateHistory[0].updateType === "Picture Changed") { %>
                                                        <span>
                                                            <i class="far fa-image text-success fa-lg"></i>
                                                        </span>
                                                    <% } else if(activity.updateHistory[0].updateType === "Info Changed") { %>
                                                        <span>
                                                            <i class="far fa-edit text-success fa-lg"></i>
                                                        </span>
                                                    <% } else if(activity.updateHistory[0].updateType === "Owner/Author Changed") { %>
                                                        <span>
                                                            <i class="fas fa-users text-primary fa-lg"></i>
                                                        </span>
                                                    <% } else if(activity.updateHistory[0].updateType === "Activity Created") { %>
                                                        <span>
                                                            <i class="fas fa-star fa-lg text-warning"></i>
                                                        </span>
                                                    <% } %>
                                                    <span><em><%= moment(activity.updateHistory[0].updatedAt).fromNow() %></em></span>
                                                <% } else { %>
                                                    <span>
                                                        <% if(activity.updateHistory[0].oldStatus === "current") { %>
                                                            <i class="fa fa-check-circle fa-lg text-success"></i>
                                                        <% } else if(activity.updateHistory[0].oldStatus === "review") { %>
                                                            <i class="fa fa-question-circle fa-lg text-warning"></i>
                                                        <% } else { %>
                                                            <i class="fa fa-times-circle fa-lg text-danger"></i>
                                                        <% } %>
                                                    </span>
                                                    <span><i class="fas fa-arrow-right"></i></span>
                                                    <span>
                                                        <% if(activity.updateHistory[0].newStatus === "current") { %>
                                                            <i class="fa fa-check-circle fa-lg text-success"></i>
                                                        <% } else if(activity.updateHistory[0].newStatus === "review") { %>
                                                            <i class="fa fa-question-circle fa-lg text-warning"></i>
                                                        <% } else { %>
                                                            <i class="fa fa-times-circle fa-lg text-danger"></i>
                                                        <% } %>
                                                    </span>
                                                    <span><em><%= moment(activity.updateHistory[0].updatedAt).fromNow() %></em></span>
                                                <% } %>
                                            </div>
                                            <div>
                                                By <a href="/users/<%= activity.updateHistory[0].author._id %>"><span class="text-capitalize"><%= activity.updateHistory[0].author.displayName %></span></a>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <!-- Mod and Admin view and edit update requests -->
                            <div class="d-flex flex-row flex-wrap align-items-baseline mt-1">
                                <span class="mr-3"><h4>Update Requests:</h4></span>
                                
                                <% if(!showAllUpdateRequests) { %>
                                    <a class="btn btn-primary btn-sm mr-2 mb-2" href="/activities/<%= activity._id %>?showAllUpdateRequests=true">Show All Completed Requests</a>
                                <% } else { %>
                                    <a class="btn btn-primary btn-sm mr-2 mb-2" href="/activities/<%= activity._id %>?showAllUpdateRequests=false">Hide All Completed Requests</a>
                                <% } %>
                                
                                <a id="createNewUpdateRequestBtn" class="btn btn-success btn-sm mr-2 mb-2" role="button" data-toggle="collapse" href="#collapseAddUpdateRequest" aria-expanded="false" aria-controls="collapseAddUpdateRequest">Create New Request</a>
                                
                                
                                <!-- Show message if status is "review" but there's no pending requests -->
                                <% if(pendingUpdateRequests.length === 0 && activity.status === "review") { %>
                                    <div class="alert alert-warning" role="alert">
                                        It looks like there's no pending update requests but this activity status is still "In Review"
                                    </div>
                                <% } %>
                                
                                <!-- Show message if status is "current" but there's pending requests -->
                                <% if(pendingUpdateRequests.length > 0 && activity.status === "current") { %>
                                    <div class="alert alert-warning" role="alert">
                                        The status is "Current" but there's still some update requests pending, could you take a look and check everything's ok?
                                    </div>
                                <% } %>
                                
                                
                                <!-- Display update requests START -->
                                <% activity.updateRequests.forEach(function(updateRequest){ %>
                                    <% if(!updateRequest.isDone) { %>
                                        <div class="mb-2 nopadding">
                                            <div class="card">
                                                <div class="pl-3 pr-3 pt-3 pb-3">
                                                    <div class="card-title d-flex flex-row flex-wrap align-items-center justify-content-between">
                                                        <div class="d-flex flex-row flex-wrap align-items-baseline">
                                                            <strong>
                                                                <a class="mr-1" href="/users/<%= updateRequest.author._id %>">
                                                                    <img class="" height="40" width="40" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,h_100,w_100,f_auto,q_auto,r_max<%= updateRequest.author.avatar.slice(46) %>" alt="Update Request author avatar">
                                                                    <%= updateRequest.author.displayName %>
                                                                </a>
                                                            </strong>
                                                        </div>
                                                        <div class="d-flex flex-row flex-grow-1 justify-content-end"><em><%= moment(updateRequest.createdAt).fromNow() %></em></div>
                                                    </div>
                                                    <div class="card-text comment-text rounded pl-2 pr-2 pt-2 pb-2" style="background-color: #8accd7"><%= updateRequest.text %></div>
                                                    <% if(currentUser && (currentUser.isMod || currentUser.isAdmin)){ %>
                                                        <hr>
                                                        <div class="d-flex flew-column flex-wrap mt-2">
                                                            <div class="d-flex flew-row flex-wrap flex-grow-1 justify-content-center mb-2 text-center">
                                                                Hey <%= currentUser.firstName %>, please could you take a look at the request above and see if there's anything you can do to help? 
                                                                <br><br>
                                                                Don't worry if you can't, just leave it here so other moderators can see it as well.
                                                            </div>
                                                            <div class="d-flex flew-row flex-wrap justify-content-center flex-grow-1">
                                                                <div class="mr-2 mb-2">
                                                                    <form class="inline-form" action="/activities/<%= activity._id %>/updateRequests/<%= updateRequest._id %>" method="POST">
                                                                        <!-- Hidden Input -->
                                                                        <input type="hidden" name="changeValue" value="I've made this change">
                                                                        <button class="btn btn-sm btn-success">I've made this change</button>
                                                                    </form>
                                                                </div>
                                                                <div class="mr-2 mb-2">
                                                                    <form class="inline-form" action="/activities/<%= activity._id %>/updateRequests/<%= updateRequest._id %>" method="POST">
                                                                        <!-- Hidden Input -->
                                                                        <input type="hidden" name="changeValue" value="This change isn't needed">
                                                                        <button class="btn btn-sm btn-warning">This change isn't needed</button>
                                                                    </form>
                                                                </div>
                                                            
                                                                <% if(currentUser && currentUser.isAdmin){ %>
                                                                <!-- Admin only permanent destroy update request -->
                                                                    <div class="d-flex flew-row commentDeleteBtnDiv mr-2">
                                                                        <div class="commentDeleteBtn">
                                                                            <button class="btn btn-sm btn-danger">Delete</button>
                                                                        </div>
                                                                        <div class="commentDeleteCheck" style="display:none;">
                                                                            <form class="inline-form" action="/activities/<%= activity._id %>/updateRequests/<%= updateRequest._id %>?_method=DELETE" method="POST">
                                                                                <button class="btn btn-sm btn-danger">Please delete</button>
                                                                            </form>
                                                                            <button class="btn btn-sm btn-primary commentNoDeleteBtn mt-md-0 mt-2">No, don't delete</button>
                                                                        </div>
                                                                    </div>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else if(showAllUpdateRequests) { %>
                                    <!-- If update request isDone -->
                                        <!-- If url query param "showAllUpdateRequests" is set to true -->
                                        <div class="col-md-12 mb-2 nopadding">
                                            <div class="card">
                                                <div class="pl-3 pr-3 pt-3 pb-3">
                                                    <div class="card-title d-flex flex-row flex-wrap align-items-center justify-content-between">
                                                        <div class="d-flex flex-row flex-wrap align-items-baseline">
                                                            <strong>
                                                                <a class="mr-1" href="/users/<%= updateRequest.author._id %>">
                                                                    <img class="" height="40" width="40" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,h_100,w_100,f_auto,q_auto,r_max<%= updateRequest.author.avatar.slice(46) %>" alt="Update Request author avatar">
                                                                    <%= updateRequest.author.displayName %>
                                                                </a>
                                                            </strong>
                                                        </div>
                                                        
                                                        <div class="d-flex flex-row flex-grow-1 justify-content-end"><em><%= moment(updateRequest.createdAt).fromNow() %></em></div>
                                                        
                                                    </div>
                                                    <div class="card-text comment-text rounded pl-2 pr-2 pt-2 pb-2" style="background-color: #8accd7"><%= updateRequest.text %></div>
                                                    <% if(currentUser && (updateRequest.author._id.equals(currentUser._id) || currentUser.isMod || currentUser.isAdmin)){ %>
                                                        <hr>
                                                        <div class="d-flex flew-column flex-wrap justify-content-between mt-2">
                                                            
                                                            <p>
                                                                <strong>
                                                                    <a class="mr-1" href="/users/<%= updateRequest.isDoneUser._id %>">
                                                                        <img class="" height="40" width="40" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,h_100,w_100,f_auto,q_auto,r_max<%= updateRequest.isDoneUser.avatar.slice(46) %>" alt="Update Request isDone user avatar">
                                                                        <%= updateRequest.isDoneUser.displayName %>
                                                                    </a>
                                                                </strong>
                                                            
                                                                selected "<strong><%= updateRequest.isDoneValue %></strong>" <%= moment(updateRequest.isDoneDate).fromNow() %>
                                                            </p>
                                                            
                                                            <% if(currentUser && currentUser.isAdmin){ %>
                                                            <!-- Admin only permanent destroy update request -->
                                                                <div class="d-flex flew-row commentDeleteBtnDiv mr-2">
                                                                    <div class="commentDeleteBtn">
                                                                        <button class="btn btn-sm btn-danger">Delete</button>
                                                                    </div>
                                                                    <div class="commentDeleteCheck" style="display:none;">
                                                                        <form class="inline-form" action="/activities/<%= activity._id %>/updateRequests/<%= updateRequest._id %>?_method=DELETE" method="POST">
                                                                            <button class="btn btn-sm btn-danger">Please delete</button>
                                                                        </form>
                                                                        <button class="btn btn-sm btn-primary commentNoDeleteBtn mt-md-0 mt-2">No, don't delete</button>
                                                                    </div>
                                                                </div>
                                                            <% } %>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }); %>
                            </div>
                        </div>
                    <% } %>

                    
                    <hr>
                    <!--START OF ACTIVITY INFO CONTENT-->
                    <div>
                        <h4>Description</h4>
                        <p class="mr-2 first-letter-capitalize"><%= activity.description %></p>
                        <% if(activity.videoUrl) { %>
                            <div class="d-flex flex-row justify-content-center mb-3">
                                <iframe  width="100%" height="400px" src="https://www.youtube-nocookie.com/embed/<%= activity.youtubeVideoId %>?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <hr>
                        <% } %>
                    </div>
                    
                    <div class="d-flex flex-row flex-wrap">
                        <div class="d-flex flex-column col-md-8 nopadding">
                            <div class="d-flex flex-row flex-wrap">
                                <div class="col-md-6 nopadding">
                                    <h4>Ages</h4>
                                    <p class="mr-3"><%= activity.age %></p>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <h4>Suitable for</h4>
                                    <p class="mr-2"><%= activity.suitable %></p>
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-wrap card-grey mr-md-2">
                                <div class="col-md-6 nopadding">
                                    <h4 class="mt-1">When</h4>
                                    <p class="mr-3"><%= activity.when %></p>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <h4 class="mt-1">Cost</h4>
                                    <p class="mr-2 first-letter-capitalize"><%= activity.price %></p>
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-wrap mt-2">
                                <div class="col-md-6 nopadding">
                                    <h4>Type</h4>
                                    <p class="mr-3"><%= activity.frequency %></p>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <h4>Where</h4>
                                    <p class="mr-2"><%= activity.location %></p>
                                </div>
                            </div>
                            <div class="d-flex flex-row flex-wrap card-grey mr-md-2 mb-2">
                                <div class="col-md-6 nopadding">
                                    <h4 class="mt-1">Who to contact</h4>
                                    <% if(activity.owner) { %>
                                        <a href="/users/<%= activity.owner._id %>"><%= activity.owner.displayName %></a>
                                    <% } %>
                                    <% if(activity.contactEmail || activity.contactNum) { %>
                                        <p class="mr-3">
                                            <% if(activity.contactNum) { %>
                                                Telephone: <%= activity.contactNum %>
                                                <br>
                                            <% } %>
                                            <% if(activity.contactEmail) { %>
                                                Email: <a href="mailto:<%= activity.contactEmail %>asd"><%= activity.contactEmail %></a>
                                            <% } %>
                                        </p>
                                    <% } else { %>
                                        No contact information has<br>been added <i class="fas fa-phone-slash"></i>
                                    <% } %>
                                </div>
                                <div class="col-md-6 nopadding">
                                    <h4 class="mt-1">Tags</h4>
                                    <p class="mr-2"><%= activity.tags %></p>
                                </div>
                            </div>
                            
                            
                            <% if(activity.linkStatus.isLinkBroken && activity.linkStatus.errorMessage === "404") { %>
                                <div class="alert alert-warning mr-3" role="alert">
                                    <i class="fa fa-exclamation-circle"></i> Oops! It looks like the website for this activity has moved...
                                    <br><br>
                                    The activity might still be running, they could have just moved the page. 
                                    <br><br>
                                    If you have a second could you check for us and let us know if they have a new page for this activity or if we should remove it?
                                </div>
                            <% } else if(activity.linkStatus.isLinkBroken) { %>
                                <div class="alert alert-warning mr-2" role="alert">
                                    <i class="fa fa-exclamation-circle"></i> We've just checked the website for this activity and it might not be working right now.
                                    <br><br>
                                    This could be a temporary problem, but if it doesn't get fixed soon we'll automatically remove this activity. (Status Code: <%= activity.linkStatus.errorMessage %>)
                                </div>
                            <% } %>
                            <div class="d-flex flex-row flex-wrap mt-1">
                                <div class="d-flex flex-row flex-wrap nopadding justify-content-between align-items-center flex-grow-1 mb-2">
                                    
                                    <div class="flex-grow-1 nopadding">
                                        <% if(activity.website) { %>
                                            <a class="btn btn-primary btn-block mb-2" href="<%= activity.website %>">Activity website</a>
                                        <% } else { %>
                                            <a class="btn btn-secondary btn-block mb-2 disabled">Activity website</a>
                                        <% } %>
                                    </div>
                                    
                                    <div class="d-flex flex-row justify-content-center flex-grow-1">
                                        <div class="nopadding">
                                            <% if(activity.twitter) { %>
                                                <a class="mb-2 mr-2" href="<%= activity.twitter %>"><i class="fab fa-twitter fa-2x fa-fw" title="Activity Twitter Link"></i></a>
                                            <% } else { %>
                                                <a class="mb-2 mr-2 disabled text-secondary"><i class="fab fa-twitter fa-2x fa-fw" title="Activity Twitter Link"></i></a>
                                            <% } %>
                                        </div>
                                        <div class="nopadding">
                                            <% if(activity.facebook) { %>
                                                <a class="mb-2 ml-2" href="<%= activity.facebook %>"><i class="fab fa-facebook-square fa-2x fa-fw" title="Activity Facebook Link"></i></a>
                                            <% } else { %>
                                                <a class="mb-2 ml-2 disabled text-secondary"><i class="fab fa-facebook-square fa-2x fa-fw" title="Activity Facebook Link"></i></a>
                                            <% } %>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="flex-grow-1 nopadding mr-md-2">
                                    <a id="addUpdateRequestBtn" class="btn btn-warning btn-block mb-3" role="button" data-toggle="collapse" href="#collapseAddUpdateRequest" aria-expanded="false" aria-controls="collapseAddUpdateRequest"><strong>Something not right?</strong></a>
                                </div>
                                
                                <!--Collapse "Something not right?" form START-->
                                <div class="collapse mr-2" id="collapseAddUpdateRequest">
                                    <div class="card mb-3">
                                        <div class="card-body card-grey">
                                            <form id="add-updateRequest-form" action="/activities/<%= activity._id %>/updateRequests" method="POST">
                                                <div class="form-group mb-3">
                                                    <label for="addUpdateRequestInput">Please tell us what's wrong so we can fix it as soon as possible <i class="fas fa-wrench"></i></label>
                                                    <div class="d-flex flex-row flex-wrap flex-grow-1 justify-content-between">
                                                        <a id="activityOutOfDateBtn" class="btn btn-info mb-2 text-white">Activity out of date</a>
                                                        <a id="websiteLinkBrokenBtn" class="btn btn-info mb-2 text-white">Website link broken</a>
                                                        <a id="iRunThisActivityBtn" class="btn btn-info mb-2 text-white">I run this activity</a>
                                                        <a id="somethingElseBtn" class="btn btn-secondary mb-2 text-white">Something else?</a>
                                                    </div>
                                                    <div id="loginInToRequestOwner" class="alert alert-warning" role="alert" style="display: none;">
                                                        If you organise or help to run this activity and would like to be able to edit its details on Sociable Life, please <a id="requestOwnerLogin" href='/login'>login</a> so we can add it to your account (it's free!).
                                                        <br>
                                                        Once you've logged in, please click the "I run this activity" button again.
                                                    </div>
                                                    <textarea id="addUpdateRequestInput" class="form-control" style="display: none;" name="updateRequest[text]" placeholder="e.g. This activity isn't running any more..." form="add-updateRequest-form" rows="5" cols="70" required></textarea>
                                                </div>
                                                <div class="form-group d-flex flex-row flex-wrap flex-grow-1 justify-content-end align-items-start mb-0">
                                                    <div>
                                                        <button id="addNewUpdateRequestBtn" class="btn btn-primary" style="display: none;">Send Message</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--Collapse "Something not right?" form END-->
                    
                    
                            </div>
                        </div>
                        
                        <div class="d-flex flex-column nopadding col-md-4 mb-3">
                            <div class="nopadding">
                                <a class="btn btn-success btn-block mb-0" href="http://maps.google.co.uk/?hl=en&saddr=&daddr=<%= activity.location %>">Get Directions <i class="fas fa-map-marker-alt"></i></a>
                            </div>
                            <div id="activity-show-map" style="border-radius: 5px;" class="flex-grow-1"></div>
                        </div>
                        
                    </div>
                    <!--END OF ACTIVITY INFO CONTENT-->
                </div>
            </div>
            <!-- INFO SECTION END -->

            <!-- COMMENT SECTION START -->
            <div id="commentSection" class="card mb-5">
                <div class="card-body">
                    <div class="float-left">
                        <h3>Comments</h3>
                    </div>
                    
                    <div class="text-right">
                        <a id="addCommentBtn" class="btn btn-success" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment"><i class="fa fa-plus"></i> Add comment</a>
                    </div>
                    <hr>
                    
                    <!--Collapse Add a comment form START-->
                    <div class="collapse" id="collapseComment">
                        <div class="card mb-2">
                            <% if(!currentUser) { %>
                                <!--If the user is not logged in, direct them to the login page-->
                                <div class="card-body card-grey">
                                    <p class="card-text"><strong>You need to login before you can comment. Please <a id="commentLogin" href="/login">login</a> or <a id="commentRegister" href="/register">sign up (it's free!)</a></strong></p>
                                </div>
                            <% } %>
                            <% if(currentUser) { %>
                                <!--If the user is logged in, show the new comment form-->
                                <div class="card-body card-grey comment-card-current-user">
                                    <div class="card-title d-flex flex-row flex-wrap align-items-center justify-content-between">
                                        <div class="d-flex flex-row flex-wrap align-items-baseline justify-content-between">
                                            <strong>
                                                <a class="mr-1" href="/users/<%= currentUser._id %>">
                                                    <img class="" height="40" width="40" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,h_100,w_100,f_auto,q_auto,r_max<%= currentUser.avatar.slice(46) %>" alt="Current User avatar">
                                                    <%= currentUser.displayName %>
                                                </a>
                                            </strong>
                                            <% if(currentUser.isMod) { %>
                                                <div class="d-flex flex-row flex-grow-1 justify-content-end align-items-center">
                                                    <i class="fas fa-crown text-warning mr-1"></i> <strong>Moderator</strong>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <form id="add-comment-form" action="/activities/<%= activity._id %>/comments" method="POST">
                                        <div class="form-group">
                                            <textarea id="addCommentInput" class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70" required></textarea>
                                        </div>
                                        <div class="form-group d-flex flex-row flex-wrap flex-grow-1 justify-content-end align-items-start mb-0">
                                            <div id="commentErrorDiv" class="alert mb-0 pt-1 pb-1 mb-1 mr-1" role="alert"></div>
                                            <div>
                                                <button id="postNewCommentBtn" class="btn btn-primary">Post Comment</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <!--Collapse Add a comment form END-->
                    
                    <!--Display all comments START-->
                    <div class="row">
                        <% activity.comments.forEach(function(comment){ %>
                            <div id="comment-<%= comment._id %>" class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="pl-3 pr-3 pt-3 pb-3 card-grey <% if(currentUser && comment.author._id.equals(currentUser._id)){ %> comment-card-current-user <% } %>">
                                        <div class="card-title d-flex flex-row flex-wrap align-items-center justify-content-between">
                                            <div class="d-flex flex-row flex-wrap align-items-baseline">
                                                <strong>
                                                    <a class="mr-1" href="/users/<%= comment.author._id %>">
                                                        <img class="" height="40" width="40" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,h_100,w_100,f_auto,q_auto,r_max<%= comment.author.avatar.slice(46) %>" alt="comment author avatar">
                                                        <%= comment.author.displayName %>
                                                    </a>
                                                </strong>
                                                
                                                <% if(comment.author.isMod) { %>
                                                    <div class="d-flex flex-row flex-grow-1 justify-content-end align-items-center"><i class="fas fa-crown text-warning mr-1"></i> <strong>Moderator</strong></div>
                                                <% } %>
                                            </div>
                                            
                                            <div class="d-flex flex-row flex-grow-1 justify-content-end"><em><%= moment(comment.createdAt).fromNow() %></em></div>
                                            
                                        </div>
                                        <div class="card-text comment-text first-letter-capitalize"><%= comment.text %></div>
                                        <% if(currentUser && (comment.author._id.equals(currentUser._id) || currentUser.isMod || currentUser.isAdmin)){ %>
                                            <hr>
                                            <div class="d-flex flew-row mt-2 justify-content-end align-items-center">
                                                <div class="mr-2">
                                                    <a  class="btn btn-sm btn-warning" 
                                                        href="/activities/<%= activity._id %>/comments/<%= comment._id %>/edit">
                                                        Edit
                                                    </a>
                                                </div>
                                                <div class="d-flex flew-row commentDeleteBtnDiv">
                                                    <div class="commentDeleteBtn">
                                                        <button class="btn btn-sm btn-danger">Delete</button>
                                                    </div>
                                                    <div class="commentDeleteCheck" style="display:none;">
                                                        <form class="inline-form" action="/activities/<%= activity._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                            <button class="btn btn-sm btn-danger">Please delete</button>
                                                        </form>
                                                        <button class="btn btn-sm btn-primary commentNoDeleteBtn">No, don't delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
            <!-- COMMENT SECTION END -->
            
        </div>
    </div>
</div>


<!-- These scripts can't be moved to an external file as they use EJS variables -->
<script>
  function initActivityShowMap() {
    var lat = <%= activity.lat %>;
    var lng = <%= activity.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('activity-show-map'), {
        zoom: 10,
        center: center,
        //scrollwheel: false,
        gestureHandling: 'cooperative',
        mapTypeControl: false,
        streetViewControl: false,
        scaleControl: false,
        fullscreenControl: false
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.MAPPING_API_KEY %>&callback=initActivityShowMap"></script>

<!-- Ajax script to increment counter on heart-->
<script>
    <% if(currentUser) { %>
        $('#sociableLove').on('click', function(){
            var ajaxRequestLove = $.get("<%= activity._id %>/<%= currentUser._id %>/love");
                                
            /* Process returned result */
            ajaxRequestLove.done(function( data ) {
                if(data) {
                    //add one to love, change color
                    $('#sociableLoveNum').text((parseInt($('#sociableLoveNum').text()) + 1));
                    $('#sociableLoveNum').removeClass("text-white")
                    $('#sociableLoveNum').addClass("text-dark")
                } else {
                    //remove one from love, change color
                    $('#sociableLoveNum').text((parseInt($('#sociableLoveNum').text()) - 1));
                    $('#sociableLoveNum').removeClass("text-dark")
                    $('#sociableLoveNum').addClass("text-white")
                }
            });
        });
    <% } else { %>
        $('#sociableLove').on('click', function(){
            window.location.href = "/login?return_url=" + window.location.pathname;
        });
    <% } %>
</script>

<!-- Update activity status buttons -->
<script>
    $('#statusUpdateCurrentBtn').on('click', function(){
        //make a ajax POST to the update activity status route
        var posting = $.post( "/activities/updateStatus", { status: "current", activityId: "<%= activity._id %>"});
        posting.done(function( data ) {location.reload()});
    });
    
    $('#statusUpdateReviewBtn').on('click', function(){
        //make a ajax POST to the update activity status route
        var posting = $.post( "/activities/updateStatus", { status: "review", activityId: "<%= activity._id %>"});
        posting.done(function( data ) {location.reload()});
    });
    
    $('#statusUpdateRemovedBtn').on('click', function(){
        //make a ajax POST to the update activity status route
        var posting = $.post( "/activities/updateStatus", { status: "removed", activityId: "<%= activity._id %>"});
        posting.done(function( data ) {location.reload()});
    });
</script>

<script>
    //Script to set value of "Something not right?" text area when a template button is clicked
    $('#activityOutOfDateBtn').on('click', function(){
        $('#loginInToRequestOwner').hide();
        
        $('#addUpdateRequestInput').show();
        $('#addNewUpdateRequestBtn').show();
        $('#addUpdateRequestInput').html("This information is out of date, please can you update it? Thanks :)");
    });
    $('#websiteLinkBrokenBtn').on('click', function(){
        $('#loginInToRequestOwner').hide();
        
        $('#addUpdateRequestInput').show();
        $('#addNewUpdateRequestBtn').show();
        $('#addUpdateRequestInput').html("The website link didn't work for me, can you test it again? Thanks :)");
    });
    $('#somethingElseBtn').on('click', function(){
        $('#loginInToRequestOwner').hide();
        
        $('#addUpdateRequestInput').show();
        $('#addNewUpdateRequestBtn').show();
        $('#addUpdateRequestInput').attr("placeholder", "Please tell us what we need to fix :)");
        $('#addUpdateRequestInput').html("");
    });
    
    <% if(currentUser) { %>
        $('#iRunThisActivityBtn').on('click', function(){
            $('#loginInToRequestOwner').hide();
            
            $('#addUpdateRequestInput').show();
            $('#addNewUpdateRequestBtn').show();
            $('#addUpdateRequestInput').html("I run this activity and I'd like to be able to edit it myself, will this be possible?");
        });
    <% } else { %>
        $('#iRunThisActivityBtn').on('click', function(){
            //hide input box
            $('#addUpdateRequestInput').hide();
            //hide "Send Message" button
            $('#addNewUpdateRequestBtn').hide();
            
            //show alert saying you need to login
            $('#loginInToRequestOwner').show();
            

        });
    <% } %>
    
</script>

<!-- External Script File -->
<script src="/js/activityShow.js"></script>




<% include ../partials/footer %>