<% include ../partials/header %>

<div class="container pb-5">

    <div class="container pb-5 col-md-11">
        <h1>Our Story</h1>
        <p>Sociable Life was founded with the idea that it should be easier for people to find and share accessible activities. Our aim is to build an easy to use website that is free for everyone and is supported by the community.</p>
            
        <p>We think it’s important that activities are always kept up to date, as it’s frustrating to find other websites advertising activities that haven’t been running for years! With the help of our supporters in the Sociable Life Community we automatically flag old activities for review, and if we find the activity is no longer running then we remove it.</p>
        
        <p>Sociable Life is a completely free resource for everyone to use. The website was designed and built by Tom Harris and is constantly updated with new features added all the time!</p>
        
        <p>While Sociable Life is free to use, it’s not free to maintain and run, with it currently being financed by Tom’s own salary from his day job. We’re looking for other sources of funding to help keep this resource free, so please <a href="/contact">get in touch</a> if you would like to help or have any ideas.</p>
            
        <p>Sociable Life is based in London, but we find activities all over the UK with the help of our Sociable Life Heroes!</p>
    </div>
    <div class="container pb-5">
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex col-md-4 col-lg-3 justify-content-center align-items-start">
                <img class="img-fluid mb-2" src="<%= process.env.CLOUDINARY_URL_START %>c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto,r_max/v1528307757/GeneralAssets/Headshot.png">
            </div>
            <div class="col-md-8 col-lg-9">
                <h2>Tom Harris</h2>
                <h3 class="text-primary">Sociable Life Founder</h3>
                <p>
                    As chairman of the charity <a href="https://www.odyssians.com">Odyssians</a>, I help to organise an activity holiday for adults with disabilities every year, but wanted to find other activities to recommend to the people who attend the camp. I decided to learn to code so I could build this website from scratch, making sure that it was easy to use and as accessible as possible.
                </p>
                <p>
                     I'm really excited about being able to share accessible activities that so many people around the UK are running. When I'm not volunteering for Odyssians or building Sociable Life I work part time as a software consultant (which currently funds Sociable Life).
                </p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <h2>Sociable Life Heroes</h2>
        <h6>A big thank you to all the people that helped with this project from the very start and along the way!</h6>
        <div class="d-flex flex-row flex-wrap">
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="<%= process.env.CLOUDINARY_URL_START %>c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto,r_max/v1528307760/GeneralAssets/IMG_8252_-_Copy_zcmgam.jpg">
                <h5>Kathy Mitchell</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>
            </div>
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,fl_lossy,h_320,w_320,f_auto,g_faces:auto,q_auto,r_max/v1528307762/GeneralAssets/20180213_161333_zexrgd.jpg">
                <h5>Ben Wearn</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>                
            </div>
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="<%= process.env.CLOUDINARY_URL_START %>c_fill,fl_lossy,h_320,w_320,f_auto,g_faces:auto,q_auto,r_max/v1528307768/GeneralAssets/8e4a5390-b299-48bb-9054-645543d1aa3c_ztgwmi.jpg">
                <h5>Becky Hart</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>                
            </div>
            <div class="d-flex flex-column col-sm-6 col-md-3 col-lg-3 mt-2 align-items-center">
                <img class="img-fluid mb-2" src="<%= process.env.CLOUDINARY_URL_START %>c_limit,fl_lossy,h_1440,w_720,f_auto,q_auto,r_max/v1528307772/GeneralAssets/26815604_10156431309510579_7673221678805662_n_brmmby.jpg">
                <h5>Kevin Coghlan</h5>
                <h6 class="text-primary">Sociable Life Hero</h6>                
            </div>
        </div>
    </div>

</div>

<% include ../partials/footer %>